/* FlipCard.css */
.flip-card {
  width: 350px;
  height: 400px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column; /* Stack input fields and button vertically */
  justify-content: space-between; /* Space evenly between content and button */
  padding: 20px; /* Add some spacing around content */
  font-size: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-button {
  padding: 10px 20px;
  color: #007bff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.next-button {
  align-self: flex-end; /* Align the "Next" button to the end of the section */
}

.back-button {
  align-self: flex-start; /* Align the "Back" button to the start of the section */
}

.flip-button:hover {
  color: #0056b3;
  background-color: transparent;
}
